[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.yewrepo.pptfl2
Exec=/usr/bin/ru.yewrepo.pptfl2
Name=PPT Flashlight
Name[ru]=PPT Фонарик

[X-Application]
Permissions=DeviceInfo;Camera;Internet;ru.yewrepo.pptfl2.receiver@ru.omp.test.fdpass.receiver
OrganizationName=ru.yewrepo
ApplicationName=pptfl2
ExecDBus=/usr/bin/ru.yewrepo.pptfl2
